# Build artifacts
target/
build/

# IDE files
.idea/
.vscode/
*.iml

# Logs & env
*.log
.env

# Compiled class files
*.class

# Jar files
*.jar
*.war 

# H2 database files
*.db
*.mv.db
*.trace.db

# macOS
.DS_Store

# Sensitive configuration
src/main/resources/application.properties